<div class="sas d-flex justify-content-between align-items-center ">
    <div class="newResource">
        <button class="btn btn-success" (click)="create()">Crea nuovo slot</button>
    </div>
    <div class="excel">
        <button class="btn btn-success" (click)="excelBooking()">
            <i class="fas fa-file-excel"></i> Excel
          </button>
    </div>
    <div class="filler"></div>
    <div class="form d-flex align-self-center justify-content-xxl-end">
        <div class="inputContainer align-self-center">
            <input type="date" id="search" class="form-control inputSearch"
                name="search">
        </div>
        <div class="submitContainer align-self-center">
            <input type="submit" value="Search" class="btn btn-primary">
        </div>
    </div>
</div>
<br>
<table class="table myTable">
    <caption>lista slot</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Ora inizio</th>
            <th scope="col">Ora fine</th>
            <th scope="col">Libero</th>
            <th scope="col">Nome risorsa</th>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let slot of page.content">
            <td scope="col">{{slot.id}}</td>
            <td scope="col">{{slot.startDate | date:'dd/MM/yyyy'}}</td>
            <td scope="col">{{slot.startDate | date:'HH:mm'}}</td>
            <td scope="col">{{slot.endDate | date:'HH:mm'}}</td>
            <td scope="col">{{slot.status}}</td>
            <td scope="col">{{slot.resource.name}}</td>
            <td>
                 <button type="button" class="btn btn-primary" (click)="detail(slot.id)">
                    <i class="far fa-eye"></i>
                </button>

                <button type="button" class="btn btn-success" (click)="edit(slot.id)">
                    <i class="fas fa-edit"></i>
                </button>
                
                <button type="button" class="btn btn-danger" (click)="deleteEntity(slot.id)">
                    <i class="far fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div class="foot">
    <div class="pages">
        <nav aria-label="Page navigation example">
            <ul class="pagination" *ngIf="page.totalPages != 1">

                <li class="page-item liNoPadding" *ngIf="currentPage != 1">
                    <a class="page-link" (click)="changePageByNum(1)"> 
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item liNoPadding" *ngIf="currentPage != 1" aria-current="page">
                    <a class="page-link" (click)="changePageByNum(currentPage - 1)">
                        {{ currentPage - 1 }}
                    </a>
                </li>

                <li class="page-item liNoPadding" aria-current="page">
                    <a class="page-link" id="curr">
                        {{ currentPage }}
                    </a>
                </li>

                <li class="page-item liNoPadding" aria-current="page" *ngIf="currentPage < page.totalPages">
                    <a class="page-link" (click)="changePageByNum(currentPage + 1)">
                        {{ currentPage + 1 }}
                    </a>
                </li>

                <li class="page-item liNoPadding" *ngIf="currentPage < page.totalPages ">
                    <a class="page-link" (click)="changePageByNum(page.totalPages)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            </ul>

        </nav>
    </div>
    <div class="selectContainer">
        <select [(ngModel)]="slotSize" class="form-select" aria-label="Default select example"
            name="select" id="select" (change)="aggiornaPagina()">
            <option value="10" [attr.selected]="slotSize == 10 ? true : null">10</option>
            <option value="25" [attr.selected]="slotSize == 25 ? true : null">25</option>
            <option value="50" [attr.selected]="slotSize == 50 ? true : null">50</option>
            <option value="100" [attr.selected]="slotSize == 100 ? true : null">100</option>
        </select>
    </div>
</div>