

.mat-sort-header-container {
    justify-content: center !important;
}

table {
    width: 100%;
    table-layout: fixed;
}

td,
th {
    text-align: center !important;
    vertical-align: middle !important;
}



.overflowTxt{
    overflow: hidden;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
   
}