
<div class="container pb-3" >
    <button type="button" class="btn" (click)="groupCreate()" style="background-color: rgba(30, 29, 29, 0.864);color: white;" >Crea nuovo gruppo</button>
</div>
<div class="container">

    <div class="row">

        <table datatable class="table table-hover table-bordered table-striped" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th scope="col" scope="col" class="align-text-top">id</th>
                    <th scope="col" scope="col" class="align-text-top">Nome Gruppo</th>
                    <th scope="col" scope="col" class="align-text-top">Permessi</th>
                    <th scope="col" scope="col" class="align-text-top">Ruoli</th>
                    <th scope="col" scope="col" class="align-text-top">Attivo</th>
                    <th scope="col" scope="col" class="align-text-top">Utente Creazione</th>
                    <th scope="col" scope="col" class="align-text-top">Data Creazione</th>
                    <th scope="col" scope="col" class="align-text-top">Utente Aggiornamento</th>
                    <th scope="col" scope="col" class="align-text-top">Data Aggiornamento</th>
                    <th scope="col" class="align-text-top">Azioni</th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let g of list">

                    <td scope="col">{{g.id}}</td>
                    <td scope="col" class="overflowTxt">{{g.groupName}}</td>
                    <td scope="col" class="overflowTxt" [title]="g.permissions">{{g.permissions}}</td>

                    <td scope="col" class="overflowTxt" [title]="g.roles">{{g.roles}}</td>
                    <td scope="col">{{g.enabled}}</td>
                    <td scope="col" class="overflowTxt">{{g.creationUser}}</td>
                    <td scope="col">{{g.creationTime | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td scope="col" class="overflowTxt">{{g.updateUser}}</td>
                    <td scope="col">{{g.updateTime | date:'dd/MM/yyyy HH:mm:ss'}}</td>


                    <td> <button type="button" class="btn btn-primary" (click)="groupDetail(g.id)">
                            <i class="far fa-eye"></i>
                        </button>


                        <button type="button" class="btn btn-success" (click)="groupUpdate(g.id)">
                            <i class="fas fa-edit"></i>
                        </button>

                        <button type="button" class="btn btn-danger " (click)="deleteGroup(g.id)">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </td>

                </tr>
            </tbody>


        </table>

    </div>
</div>