<div class="container" style="width: 75%;">
    <legend>Crea Utente</legend>
    <form>
      <div class="mb-3">
        <label for="groupName" class="form-label">Nome Utente</label>
        <input type="text" name="name" [(ngModel)] = "user.name" class="form-control" placeholder="Inserire nome dell'utente" id="Name" />
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Cognome</label>
        <input type="text" name="lastName" [(ngModel)] = "user.lastName" class="form-control" id="lastName" placeholder="Inserire cognome"  />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" [(ngModel)] = "user.email" class="form-control" id="email" placeholder="Inserire email"  />
      </div>

      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" [(ngModel)] = "user.username" class="form-control" id="username" placeholder="Inserire username"  />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="text" name="password" [(ngModel)] = "user.password" class="form-control" id="password" placeholder="Inserire password"  />
      </div>
  
    </form>
  
    <p>Seleziona Il Grouppo di Appartenenza</p>
    <ng-select [multiple]="false" [(ngModel)]="user.groupId" placeholder="Selezionare il gruppo di appartenenza" >
      <ng-option *ngFor="let group of list" [value]="group.id" >{{group.groupName}}</ng-option>   
    </ng-select>
  
  
    <form>
        <div class="mb-3">
            <label for="verified" class="form-label">Verificato</label>
            <input type="checkbox" name="verified" [(ngModel)] = "user.verified"  id="verified"  />
          </div>

          <div class="mb-3">
            <label for="eliminato" class="form-label">Eliminato</label>
            <input type="checkbox" name="eliminato" [(ngModel)] = "user.deleted"  id="eliminato"   />
          </div>

          <div class="mb-3">
            <label for="creationUser" class="form-label">Utente creazione</label>
            <input type="text" name="creationUser" [(ngModel)] = "user.creationUser" class="form-control" id="creationUser" placeholder="Inserire utente creazione"  />
          </div>


    </form>
  
  
      <button type="button" (click)="createUser()" class="btn btn-primary">Crea</button>
    
  </div>
