<div class="row position-relative" [style.opacity]="loading ? 0.7 : 1">
    <div class="col">
      <form action="" method="post" class="p-5 border border-3 rounded-3" [formGroup]="form">
        <h1 class="text-center text-bold mb-3">Cambia password</h1>

        <div class="form-group">
          <label for="password">Password: </label>
          <input type="password" id="password" class="form-control"
                 formControlName="password" required>
          <div *ngIf="password.invalid && (password.dirty || password.touched)"
               class="alert alert-danger my-3">
            <div *ngIf="password.errors?.['required']">
              La password è obbligatoria.
            </div>
            <div *ngIf="password.errors?.['invalidPassword']">
              La password deve contenere almeno 8 caratteri, una maiuscola, una minuscola, un numero e un carattere
              speciale
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="repeatPassword">Ripeti password: </label>
          <input type="password" id="repeatPassword" class="form-control"
                 formControlName="repeatPassword" required>
          <div *ngIf="(repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)) ||
                       (form.errors?.['invalidPassword'] && (form.touched || form.dirty))"
               class="alert alert-danger my-3">
            <div *ngIf="repeatPassword.errors?.['required']">
              La password è obbligatoria.
            </div>
            <div *ngIf="form.errors?.['invalidPassword'] && (form.touched || form.dirty)">
              Le password non coincidono.
            </div>
          </div>
        </div>

        <div>
          <button class="btn btn-primary" value="Registrati" (click)="changePassword()" [disabled]="!form.valid">
            Cambia Password
          </button>
        </div>
      </form>
    </div>
    <div class="d-flex justify-content-center align-items-center position-absolute"
         style="top: 0; bottom: 0; left: 0; right: 0;" *ngIf="loading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden"></span>
      </div>
    </div>
</div>
