<div class="container-fluid">    

        <div class="text-danger">
            
        </div>
        <div class="form-group row">
            <label for="groupName" class="col-sm-2 col-form-label">Nome
                Gruppo</label>
            <div class="col-sm-10">
                <input type="text" id="groupName" name="groupName"
                    value={{group.groupName}} disabled readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="roles" class="col-sm-2 col-form-label">Ruoli</label>
            <div class="col-sm-10">
                <textarea type="text" id="roles" name="roles"
                value="Test" disabled readonly>{{group.roles}} </textarea>
                
            </div>
        </div>

        <div class="form-group row">
            <label for="permissions" class="col-sm-2 col-form-label">Permessi</label>
            <div class="col-sm-10">
                <textarea type="text" id="permission" name="permissions"
                value="Test" disabled readonly>{{group.permissions}} </textarea>
                
            </div>
        </div>

        <div class="form-group row">
            <label for="enabled" class="col-sm-2 col-form-label">Attivo</label>
            <div class="col-sm-10">
                <input type="text" id="enabled" name="enabled"
                value="{{group.enabled}} " disabled readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="creationTime" class="col-sm-2 col-form-label">Data
                Creazione </label>
            <div class="col-sm-10">
                <input type="datetime-local" id="creationTime"
                    name="creationTime" value={{group.creationTime}}  disabled
                    readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="creationUser" class="col-sm-2 col-form-label">User
                Creazione </label>
            <div class="col-sm-10">
                <input type="text" id="creationUser" name="creationUser"
                value={{group.creationUser}}  disabled readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="updateTime" class="col-sm-2 col-form-label">Data
                Aggiornamento </label>
            <div class="col-sm-10">
                <input type="datetime-local" id="updateTime" name="updateTime"
                value={{group.updateTime}} disabled readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="updateUser" class="col-sm-2 col-form-label">User
                Aggiornamento </label>
            <div class="col-sm-10">
                <input type="text" id="updateUser" name="updateUser"
                value={{group.updateUser}}  disabled readonly>
            </div>
        </div>




</div>
