
<div class="container" style="width: 65%;">
    <legend>Dettaglio del Gruppo</legend>
    <form>
      <div class="mb-3">
        <label for="groupName" class="form-label">Nome gruppo</label>
        <input type="text" name="groupName" [(ngModel)]="group.groupName"  class="form-control" id="groupName" disabled="true" />
      </div>
      <div class="mb-3">
        <label for="permissions" class="form-label">Permessi</label>
        <input type="text" name="permissions" [(ngModel)] = "group.permissions" class="form-control" id="permissions" disabled="true" />
      </div>
  
    </form>
  
    <p>Ruoli</p>
    <ng-select [multiple]="true" [(ngModel)]="group.roles" disabled="true">   
    </ng-select>
    <br/>
    
  
  <form>
      <div class="mb-3">
        <label for="enabled" class="form-label">Attivo </label>
        <input type="checkbox" name="enabled" [(ngModel)] = "group.enabled" id="enabled" disabled="true" />
      </div>
  
      <div class="mb-3">
        <label for="creationUser" class="form-label">User Creazione</label>
        <input type="text" name="creationUser" [(ngModel)] = "group.creationUser" class="form-control" id="creationUser" disabled="true" />
      </div>

      <div class="mb-3">
        <label for="creationTime" class="form-label">Data Creazione</label>
        <input type="text" name="creationTime" [(ngModel)] = "group.creationTime" class="form-control" id="creationTime" disabled="true" />
      </div>

      <div class="mb-3" *ngIf="group.updateUser">
        <label for="updateUser" class="form-label" >User Aggiornamento</label>
        <input type="text" name="updateUser" [(ngModel)] = "group.updateUser" class="form-control" id="updateUser" disabled="true" />
      </div>

      <div class="mb-3" *ngIf="group.updateTime">
        <label for="updateTime" class="form-label">Data Aggiornamento</label>
        <input type="text" name="updateTime" [(ngModel)] = "group.updateTime" class="form-control" id="updateTime" disabled="true" />
      </div>
  
  

    </form>
  </div>