<div class="row position-relative" [style.opacity]="loading ? 0.7 : 1">
    <div class="col">
      <form method="post" class="p-5 border border-3 rounded-3">
        <h1 class="text-center text-bold mb-3">Recupera la tua password</h1>
  
        <div class="form-group">
          <label for="email">Email: </label>
          <input type="email" [formControl]="email" class="form-control" name="email" id="email">
          <div *ngIf="(email!.invalid && (email!.dirty || email!.touched))"
               class="alert alert-danger my-3">
            <div *ngIf="email!.errors?.['required']">
              L'email è obbligatoria.
            </div>
            <div *ngIf="email!.errors?.['email']">
              L'email deve essere valida.
            </div>
          </div>
        </div>
  
        <button class="btn btn-primary" (click)="passwordForgotten()" [disabled]="loading">
          Recupera
        </button>
      </form>
    </div>
    <div class="d-flex justify-content-center align-items-center position-absolute"
         style="top: 0; bottom: 0; left: 0; right: 0;" *ngIf="loading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden"></span>
      </div>
    </div>
</div>