<div class="container pb-3">
    <button type="button" class="btn btn-success" (click)="createUser()">Crea nuovo utente</button>
</div>


<div class="container">

    <div class="row">


        <table class="table table-bordered table-hover" id="user-datatable">
            <thead>
                <tr>

                    <th scope="col" class="align-text-top">ID</th>

                    <th scope="col" class="align-text-top">Nome</th>

                    <th scope="col" class="align-text-top">Cognome</th>

                    <th scope="col" class="align-text-top">Email</th>

                    <th scope="col" class="align-text-top">Username</th>

                    <th scope="col" class="align-text-top">Password</th>

                    <th scope="col" class="align-text-top">Ultimo acesso</th>

                    <th scope="col" class="align-text-top">Data modifica
                        password</th>

                    <th scope="col" class="align-text-top">Gruppo</th>

                    <th scope="col" class="align-text-top">Utente verificato</th>

                    <th scope="col" class="align-text-top">Utente eliminato</th>


                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>

                    <td>

                        <button type="button" class="btn btn-primary" style="width: 44px" (click)="detail(1)">
                            <i class="far fa-eye"></i>
                        </button>
                        <button type="button" class="btn btn-success" style="width: 44px" (click)="edit(1)">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger" style="width: 44px" (click)="deleteUser()">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>




            </tbody>
        </table>
    </div>


</div>